/* GENEREL CSS TIL ALLE HTML SIDER */
@media (min-width: 700px) {
  h1 {
    font-size: 3rem;
    font-family: "Courier New", Courier, monospace;
    padding: 20px;
    margin: 30px;
    text-align: center;
    padding-bottom: 90px;
  }
}

@media (max-width: 700px) {
  h1 {
    font-size: 2rem;
    font-family: "Courier New", Courier, monospace;
    padding: 10px;
    margin: 20px;
    text-align: center;
    padding-bottom: 60px;
  }
}

/* splashbilledet */
#first_section {
  width: 100%;
  height: 100vh;
  background-image: url(photo/orange\ and\ blue.png);
  background-size: cover;
  background-position: 25% 70%;
  opacity: 70%;
}

/* footer */
.footer_regel {
  margin-top: 70px;
  display: flex;
  justify-content: space-around;
}

/* Tekst på forsiden som står vertikalt i desktop mode */
.text {
  writing-mode: vertical-rl;
  text-orientation: mixed;
  font-size: 1.6rem;
}

/*forside tema knapper i grid på mobil */
@media (max-width: 700px) {
  #second_section {
    display: grid;
    justify-content: center;
  }

  .mig_knap {
    border: none;
    border-radius: 12%;
    color: #032623;
    background-color: #f2f2f2;
    padding: 40px 150px;
    text-decoration: none;
    font-size: 12px;
    transition-duration: 0.6s;
    cursor: pointer;
    box-shadow: 4px 3px;
    margin: 30px;
  }

  .box_mig {
    display: flex;
    justify-content: space-evenly;
  }

  .t2_knap {
    border: none;
    border-radius: 12%;
    color: #032623;
    background-color: #f2f2f2;
    padding: 40px 150px;
    text-decoration: none;
    font-size: 12px;
    transition-duration: 0.6s;
    cursor: pointer;
    box-shadow: 4px 3px;
    margin: 20px;
  }

  .box_t2 {
    display: flex;
    justify-content: space-evenly;
  }

  .t3_knap {
    border: none;
    border-radius: 12%;
    color: #032623;
    background-color: #f2f2f2;
    padding: 40px 150px;
    text-decoration: none;
    font-size: 12px;
    transition-duration: 0.6s;
    cursor: pointer;
    box-shadow: 4px 3px;
    margin: 20px;
  }

  .box_t3 {
    display: flex;
    justify-content: space-evenly;
  }

  .t4_knap {
    border: none;
    border-radius: 12%;
    color: #032623;
    background-color: #f2f2f2;
    padding: 40px 150px;
    text-decoration: none;
    font-size: 12px;
    transition-duration: 0.6s;
    cursor: pointer;
    box-shadow: 4px 3px;
    margin: 20px;
  }

  .box_t4 {
    display: flex;
    justify-content: space-evenly;
  }

  .t5_knap {
    border: none;
    border-radius: 12%;
    color: #032623;
    background-color: #f2f2f2;
    padding: 40px 150px;
    text-decoration: none;
    font-size: 12px;
    transition-duration: 0.6s;
    cursor: pointer;
    box-shadow: 4px 3px;
    margin: 20px;
  }

  .box_t5 {
    display: flex;
    justify-content: space-evenly;
  }
}

/* forside tema knapper i grid på desktop */
@media (min-width: 700px) {
  #second_section {
    display: grid;
    justify-content: space-evenly;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
  }

  .box_t2 {
    display: grid;
    justify-content: center;
    grid-column: 1/2;
    grid-row: 1/2;
  }

  .box_t3 {
    display: grid;
    justify-content: center;
    grid-column: 2/3;
    grid-row: 1/2;
  }

  .box_t4 {
    display: grid;
    justify-content: center;
    grid-column: 1/2;
    grid-row: 2/3;
  }

  .box_t5 {
    display: grid;
    justify-content: center;
    grid-column: 2/3;
    grid-row: 2/3;
  }

  /* forside knappen til om mig siden (stilling) */
  .mig_knap {
    border: none;
    border-radius: 5%;
    color: #032623;
    background-color: #f2f2f2;
    padding: 60px 130px;
    text-decoration: none;
    font-size: 16px;
    transition-duration: 0.6s;
    cursor: pointer;
    box-shadow: 4px 3px;
    margin: 60px;
  }

  .mig_knap:hover {
    background-image: url(photo/hvidbag_mig_knap.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    opacity: 50%;
  }

  .box_mig {
    display: flex;
    justify-content: space-evenly;
  }

  /* forside knappen til tema 2 (stilling)*/
  .t2_knap {
    border: none;
    border-radius: 5%;
    color: #032623;
    background-color: #f2f2f2;
    padding: 60px 130px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    transition-duration: 0.6s;
    cursor: pointer;
    box-shadow: 4px 3px;
  }

  .t2_knap:hover {
    width: 100%;
    background-image: url(photo/tema_2_computer.svg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: right;
    opacity: 50%;
  }

  /* forside knappen til tema 3 (stilling) */
  .t3_knap {
    border: none;
    border-radius: 5%;
    color: #032623;
    background-color: #f2f2f2;
    padding: 60px 130px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    transition-duration: 0.6s;
    cursor: pointer;
    box-shadow: 4px 3px;
  }

  .t3_knap:hover {
    width: 100%;
    background-image: url(photo/tema3_knap.svg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: right;
    opacity: 50%;
  }

  /* forside knappen til tema 4 (stilling)*/
  .t4_knap {
    border: none;
    border-radius: 5%;
    color: #032623;
    background-color: #f2f2f2;
    padding: 60px 130px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    transition-duration: 0.6s;
    cursor: pointer;
    box-shadow: 4px 3px;
  }

  .t4_knap:hover {
    background-image: url(photo/desktop_tema4.svg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    opacity: 50%;
  }

  /* forside knappen til tema 5 (stilling) */
  .t5_knap {
    border: none;
    border-radius: 5%;
    color: #032623;
    background-color: #f2f2f2;
    padding: 60px 130px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    transition-duration: 0.6s;
    cursor: pointer;
    box-shadow: 4px 3px;
  }

  .t5_knap:hover {
    background-image: url(photo/tema5_knap.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    opacity: 50%;
  }
}

/*menu opstilling til mobil */
.hidden {
  transform: translateX(-100%);
  opacity: 0;
}

#menuknap {
  display: inline-block;
  color: #032623;
  font-size: 2rem;
}

#menu {
  list-style-type: none;
  transition: transform 0.3s;
  transform-origin: top left;
}

@media only screen and (min-width: 700px) {
  #menuknap {
    display: none;
  }

  #menu.hidden {
    transform: translateX(0);
    opacity: 1;
  }

  #menu li {
    display: inline-block;
  }
}

@media (max-width: 700px) {
  a {
    font-family: "Playfair Display", serif;
    color: #5f5f5f;
    padding: 6px;
    font-size: 0.8rem;
    text-decoration: none;
  }
}

/*menu opstilling til iPad */
@media (min-width: 700px) {
  .menu {
    display: flex;
    justify-content: right;
  }

  a {
    color: #032623;
    text-shadow: 1px 1px #bebdbf;
    justify-content: center;
    margin: 20px;
    text-decoration: none;
    font-size: 15px;
    font-family: "Courier New", Courier, monospace;
  }

  ul {
    display: flex;
    flex-direction: row;
    gap: 15px;
    list-style: none;
    justify-content: center;
  }

  a:hover {
    color: #f2f2f2;
    text-shadow: 2px 2px #2c4040;
    font-family: Georgia, "Times New Roman", Times, serif;
    font-size: 20px;
  }
}

/*menu opstilling til desktop*/
@media (min-width: 1000px) {
  .menu {
    display: flex;
    justify-content: right;
  }

  a {
    color: #032623;
    text-shadow: 1px 1px #a6a197;
    justify-content: center;
    margin: 40px;
    text-decoration: none;
    font-size: 20px;
    font-family: "Courier New", Courier, monospace;
  }

  ul {
    display: flex;
    flex-direction: row;
    gap: 20px;
    list-style: none;
    justify-content: center;
  }

  a:hover {
    color: #f2f2f2;
    text-shadow: 2px 2px #2c4040;
    font-family: Georgia, "Times New Roman", Times, serif;
    font-size: 40px;
  }
}

/* Til justering af video */
video {
  width: 80%;
  height: auto;
  display: block;
  border-radius: 70% 30% 30% 70% / 60% 40% 60% 40%;
  padding: 10px;
  margin: 10px;
  position: relative;
  z-index: 100%;

  aspect-ratio: 16/9;
}

/* CV sektionen tekst på om mig siden */

.mig {
  overflow: hidden;
  max-width: 50ch;
  line-height: 1.6;
  text-align: left;
  margin: 20px;
  padding: 20px;
}

.class_video {
  display: flex;
  justify-content: center;
}

/* sektion til teksten og videoen */
#mig_section {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(600px, 1fr));
}

/* cv billedet på om mig siden */
.photo_nina {
  width: 50%;
  height: auto;
  display: block;
  border-radius: 70% 30% 30% 70% / 60% 40% 60% 40%;
  padding: 47px;
  margin: 56px;
  position: relative;
  object-fit: cover;
}

/* tema 2 siden */

@media (max-width: 700px) {
  .gallery_tema2 {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
    gap: 10px;
    place-content: center;
  }

  .gallery_tema2 img {
    width: 80%;
    height: auto;
    position: relative;
    object-fit: cover;
    justify-content: center;
    display: grid;
  }
}

/* knap til opgaven på mobil */
@media (max-width: 700px) {
  .tema_2_opgave {
    border: none;
    border-radius: 12%;
    color: #032623;
    background-color: #f2f2f2;
    padding: 40px 150px;
    text-decoration: none;
    font-size: 12px;
    transition-duration: 0.6s;
    cursor: pointer;
    box-shadow: 4px 3px;
    margin: 20px;
  }
}

/*knap til opgaven på desktop*/
@media (min-width: 700px) {
  .tema_2_opgave {
    border: none;
    border-radius: 5%;
    color: #032623;
    background-color: #f2f2f2;
    padding: 60px 130px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    transition-duration: 0.6s;
    cursor: pointer;
    box-shadow: 4px 3px;
  }

  .tema_2_opgave:hover {
    background-image: url(photo/t2_knap.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 20% 40%;
    opacity: 50%;
  }

  .placer_knap_t2 {
    display: grid;
    justify-content: center;
  }

  /*moodboard opstilling */
  .gallery_tema2 img {
    width: 80%;
    height: auto;
    position: relative;
    object-fit: cover;
    justify-content: center;
    display: grid;
  }

  .gallery_tema2 {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 10px;
    margin: 20px;
    padding: 20px;
  }
}

/* stilling til alle paragraferne på tema 2 siden */
.p1_t2 {
  display: flex;
  justify-content: center;
  max-width: 100ch;
  padding: 20px;
  padding-bottom: 0px;
  line-height: 1.4;
}

.p2_t2 {
  max-width: 120ch;
  padding: 20px;
  padding-top: 0px;
  line-height: 1.4;
}

.p3_t2 {
  max-width: 120ch;
  padding: 20px;
  padding-top: 0px;
  line-height: 1.4;
  padding-left: 80px;
}

.p4_t2 {
  max-width: 120ch;
  padding: 20px;
  padding-top: 0px;
  line-height: 1.4;
  padding-left: 80px;
}

.p5_t2 {
  max-width: 120ch;
  padding: 20px;
  padding-top: 0px;
  line-height: 1.4;
  padding-left: 80px;
}

.p6_t2 {
  max-width: 120ch;
  padding: 20px;
  padding-top: 0px;
  line-height: 1.4;
  padding-left: 80px;
}

.p7_t2 {
  max-width: 120ch;
  padding: 20px;
  padding-top: 0px;
  line-height: 1.4;
  padding-left: 80px;
}

.p8_t2 {
  max-width: 120ch;
  padding: 20px;
  padding-top: 0px;
  line-height: 1.4;
  padding-left: 80px;
}

.mini_titel_t2 {
  padding-top: 40px;
  padding-left: 50px;
}

/* en sektion til de 2 første paragrafer på siden */
#section1_t2 {
  display: grid;
  justify-content: center;
}

/*Tema 3 siden*/

/* knap til første bilag*/
.tema_3_bilag1 {
  border: none;
  color: black;
  padding: 16px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  transition-duration: 0.4s;
  cursor: pointer;
  box-shadow: 5px 5px;
}

/* knap til andet bilag*/
.tema_3_bilag2 {
  border: none;
  color: black;
  padding: 16px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  transition-duration: 0.4s;
  cursor: pointer;
  box-shadow: 5px 5px;
}

/* tema 4 siden */
.tema_4_doku {
  border: none;
  color: black;
  padding: 16px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  transition-duration: 0.4s;
  cursor: pointer;
  box-shadow: 5px 5px;
}
